body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16pt;
  font-weight: 600;
  color: #fff;
  background-color: #222;
}

::selection {
  color: none;
  background: none;
}

:disabled {
  opacity: 50%;
}


/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}

.game {
  height: 100vh;
  /* background-color: purple; */
}

.score {
  display: block;
  text-align: right;
  margin: 4px 8px 4px 8px;
  /* background-color: blue; */
}

img {
  display: block;
  max-width: 90%;
  max-height:100%;
  margin: auto;
}


.vaakuna {
  height: 60%;
  /* background-color: green; */
}

.monivalinta {
  height: 35%;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0px auto 0px auto;
  /* background-color: orange; */
}


button {
  height: 48px;
  font-size: 14pt;
  font-weight: 300;
  color: #222;
  outline: none;
  display: block;
  margin: 4px auto 4px auto;
  width: 95%;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fff;
}

.wrong {
  background: #ff6666;
  border: none;
}

.right {
  background: #66ff66;
  border: none;
  font-weight: 600;
}
